{% extends 'base.html' %}

{% block title %} Контакты {% endblock %}

{% block content %}

<div>
    <h2>Контакты</h2>
    <div class="contacts">
        <div class="contact">
            <p>АружанОсобенныйНЕМолодец</p>
            <span style="color: gray">📞 +7999 999 9999</span>
        </div>
        <hr>
        <div class="contact">
            <p>Crimson</p>
            <span style="color: gray">📞 +7999 999 9999</span>
        </div>
        <div class="contact">
            <p>Айгуль Манасбековна</p>
            <span>📞 +7999 999 9999</span>
        </div>
    </div>
</div>


{% endblock %}
