{% extends 'base.html' %}

{% block title %} Категория {{ cat.name }} {% endblock %}

{% block content %}

<div>
    <ul>
        {% for food in foods %}
                    <li><h2 class="h2">{{ food.title }}, {{ food.call }}</h2>
                         <img src="/media/{{ food.photo }}" alt="Food" class="img-article-left" height="200px" width="200px">
            {% autoescape on %}
            {{food.content|linebreaks|truncatewords:40}}
            {% endautoescape %}
                    <div class="clear"></div>

                    <p class="link-read-post"><a href="{% url 'post' food.id %}">Читать рецепт</a></p>

                    </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
